*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-size: 1.6rem;
  color: $color-font;
}

p {
  font-family: $main-font;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

span {
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
}
// MI FRAMEWORK
.section {
  padding: 5rem 0;
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
}

.button {
  display: inline-block;
  border: 0.1rem solid #23a6d5;
  color: #23a6d5;
  border-radius: 0.5rem;
  background-color: transparent;
  padding: 1rem;
  font-family: $main-font;
  font-weight: 700;
  outline: none;
}
